<h2> Welcome Doctor </h2>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
  <script src ="/account/assets/js/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
        $(document).ready(function(){
            var socket = io();
            socket.on('connect',function(){
                console.log('connected');
            });

            socket.on('send_pt_id',function(data){
                console.log(data);
            })            
        })
  </script>