<!-- <%= doctor %> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doctor Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <style>
  span {
	font-size: 100%
  }
  .new{
    font-size: 200%
  }
  </style>
</head>
<body>

<div class="container">
</br>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" id="home_btn" href="#home">HOME</a></li>
    <li><a data-toggle="tab" id="mh" href="#menu1">MEDICAL HISTORY</a></li>
    <li><a data-toggle="tab" href="#menu2">ADD NEW REPORT</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>BIODATA</h2>
	  </br>
	  </br>
      <span>Patient id: </span> <span id="p_id" ></span>
	  </br>
	  <span>Weight: </span> <span id="w_id"></span>
	  </br>
	  <span>Height: </span> <span id="h_id"></span>
	  </br>
	  <span>BMI: </span> <span id="b_id"></span>
	  </br>
	  <span>Blood Pressure: </span> <span id="bp_id"></span>
	  </br>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>MEDICAL HISTORY</h3>
      <div id="all_reports"></div>
	  </br>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Add a new Report</h3>
	  </br>
	  

	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Patient ID </label>
			 <input type="text" id="form_pID" name="id" class="form-control" placeholder="Enter Patient ID">
        </div>
      </div>
    </div>
	
	
    <div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Height</label>
                      <input type="text" id="Height" name="height" class="form-control" placeholder="Enter height">
        </div>
      </div>
    </div>
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Weight</label>
                      <input type="text" id="Weight" name="weight" class="form-control" placeholder="Enter weight">
        </div>
      </div>
    </div>
	
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Body Mass Index</label>
                      <input type="text" id="Bmi" name="bmi" class="form-control" placeholder="Enter BMI">
        </div>
      </div>
    </div>
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Blood Pressure</label>
                      <input type="text" id="Bp" name="bp" class="form-control" placeholder="Enter blood pressure">
        </div>
      </div>
    </div>
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Pulse Rate</label>
                      <input type="text" id="Pr" name="pr" class="form-control" placeholder="Enter pulse rate">
        </div>
      </div>
    </div>
	
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Disease</label>
                      <input type="text" id="Disease" name="disease" class="form-control" placeholder="Enter disease">
        </div>
      </div>
    </div>
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Symptoms</label>
                      <input type="text" id="Symptoms" name="symptoms" class="form-control" placeholder="Enter symptoms">
        </div>
      </div>
    </div>
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Medicine</label>
                      <input type="text" id="Medicine" name="medicine" class="form-control" placeholder="Enter medicine(s)">
        </div>
      </div>
    </div>
	
	
	<div class="row">
     <div class="col-xs-4">
       <div class="form-group label-floating">
             <label class="control-label">Date Of Treatment</label>
                      <p>Date: <input type="date" name="DOT" id="datepicker"></p>

        </div>
      </div>
    </div>
	

									  
	<button type="submit" id="heath_det" class="btn btn-primary">Submit</button>
	  
	  

  </div>
</div>
</div>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
  <script src ="/account/assets/js/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  var patid; 
        $(document).ready(function(){
            var socket = io();
            socket.on('connect',function(){
               console.log('connected');
            });

            socket.on('doc_details',function(data){
               console.log(data);
            });

            socket.on('pat_details',function(data){
              $('#form_pID').val(data.user.uid);
              $('#p_id').html(data.user.uid);
               console.log(data);
               pat = data.user.uid;
            });

            $('#heath_det').on('click',function(){
              socket.emit('get_pat_details',{
                  'did': '<%= doctor.uid %>',
                  'id': $('#form_pID').val(),
                  'hght': $('#Height').val(),
                  'wght': $('#Weight').val(),
                  'bmi': $('#Bmi').val(),
                   'bp': $('#Bp').val(),
                   'pulse': $('#Pr').val(),
                   'desc': $('#Disease').val(),
                   'sympt': $('#Symptoms').val(),
                   'med': $('#Medicine').val(),
                   'date': $('#DOT').val()
               });
            });

            socket.on('show_details',function(data){
                console.log(data);
                $("#p_id").html(data.uid);
                $("#w_id").html(data.wght);
                $("#h_id").html(data.hght);
                $("#b_id").html(data.bmi);
                $("#bp_id").html(data.bp);
            }) 

            $("#mh").on('click',function(){
               console.log('clicked'+pat);
               socket.emit('get_history',{'id': ''+pat});
            });

              socket.on('reports',function(data){
                var time =  moment.utc(data.Date).toDate();
                var actime = moment(time).format("MMM Do YY");
                 console.log(data);
                 $('#all_reports').append('<div class="card">\
                    <div class="card-block">\
                      <span class="card-title new">Date: </span> <span class="new" id="Date">'+actime+'</span>\
                      <div class="row">\
                    <div class="col-sm-4">\
                    <span><a href="/profile/'+data.d_id+'">Doctor id: </span> <span id="doc_id">'+data.d_id+'</a></span>\
                    </div>\
                    <div class="col-sm-4">\
                    <span>Disease: </span> <span id="dise">'+data.desc+'</span>\
                    </div>\
                    <div class="col-sm-4">\
                    <span>Symptom: </span> <span id="symp">'+data.sym+'</span>\
                    </div>\
                    <div class="col-sm-4">\
                    <span>Medicine: </span> <span id="med">'+data.sym+'</span>\
                    </div><div class="col-sm-4">\
                     <button style="margin-top:20px;width: 150px;" class="btn btn-success">Download PDF</button>\
                    </div>\
                    </div>\
                    </div>\
                  </div>');        
              })

            $("#home_btn").on('click',function(){
                 $('#all_reports').html('');
            });           
        })
  </script>
</body>
</html>