<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <style>
  span {
	font-size: 100%
  }
  .new {
	font-size: 200%
  }
  </style>
</head>
<body>

<div class="card">
  <div class="card-block">
    <span class="card-title new">Date: </span> <span class="new" id="Date"></span>
    <div class="row">
	<div class="col-sm-4">
	<span>Doctor id: </span> <span id="doc_id"></span>
	</div>
	<div class="col-sm-4">
	<span>Disease: </span> <span id="dise"></span>
	</div>
	<div class="col-sm-4">
	<span>Symptom: </span> <span id="symp"></span>
	</div>
	<div class="col-sm-4">
	<span>Medicine: </span> <span id="med"></span>
	</div>
	</div>
	
  </div>
</div>
</body>
</html>