<!doctype html>
<html>
<head>
<title>Your Appointment PDF</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<style>

span{
	font-size: 200%;
	text-align: center;
	padding-left: 50px;
}

body {
	background-color : lavender;
}

p{
	font-size: 200%;
	text-align: center;
}
</style>
</head>
<body class="container" background-color:blue>
</br>
</br>
</br>
</br></br>
<span>Hello, </span><span id="name"></span>
</br>
</br>
<span>Date: </span><span id="date_"></span>
</br>
</br>
<span>Doctor: </span><span id="doc_name"></span>
</br>
</br>
<span>Disease: </span><span id="dis_name"></span>
</br>
</br>
<span>Medicine: </span><span id="med_name"></span>
</br>
</br>
<span>Symptoms: </span><span id="symp_name"></span>
</br>
</br>
</br>
</br>
</br>

<p>Thank You For Using our Service</p>
</body>
</html>