<!DOCTYPE html>
<html lang="en">
<style type="text/css">
	
</style>
<head>
	<title>Acknowledgement</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style type="text/css">

		body{
		background-image: url("/blood-donation.jpg");
		background-repeat: no-repeat;
	}

		h3 { padding-left: 380px;
			padding-top: 450px;
			}
			
		h4 { padding-left: 550px;}
	</style>
</head>

<body>
	<h3>'Request has been sent to all the Patients and Doctors nearby you!!'</h3>
	<h4>-KEEP HOPE!!</h4>
</body>
</html>